# Environment variables
.env
.env.local
.env.*.local

# WordPress
wp-config.php
wp-config-custom.php
wp-content/plugins/donlinee-waitlist/config.php
wp-content/upgrade/
wp-content/cache/
wp-content/backup*/
wp-content/ai1wm-backups/
wp-content/plugins/all-in-one-wp-migration/
wp-content/languages/plugins/all-in-one-wp-migration*

# Logs
*.log
error_log
debug.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
db_data/